/*
----------------------------------
  Variables and fonts

  Custom variables follow, along with edits from _variables.scss  
*/

$font-family-sans-serif: "PT Sans", "Open Sans", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$font-family-serif: "Vollkorn", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;

@font-face
  {
  font-family: 'Pecita';
  src: url(../font/Pecita.otf) format('opentype');
  font-style: normal;
  }


/*
----------------------------------
  Page elements
  
*/

body
  {
	line-height: 1.6;
	font-family: $font-family-sans-serif;
  }

div#container
  {
  @include make-row();
  margin: 3.5em auto 2em auto;
  text-align: center;
  }

nav#main,
nav#main-large,
header,
div#content,
footer
  {
  font-size: 1.214em;
  margin: 0 auto;
	padding-top: 2em;
	text-align: left;
	@include make-md-column(8);
	@include make-md-column-offset(2);
  }

footer
  {
  margin-top: 3em;
	margin-bottom: 4em;
  }


/*
----------------------------------
  Navigation
  
*/

nav#main.page ul
  {
  text-align: right;
  display: block;
  float: right;
  margin-bottom: 0;
  @media screen and (max-width: $screen-xs-max)
    {
    text-align: center;
    float: none;
    margin-bottom: 1em;
    display: inline-block;
    }
    li:last-child
	    {
		  display: inline;
		  padding-right: 0;
		  }
  }

nav#main ul
  {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0 0 0 3.4em;
	@media screen and (max-width: $screen-xs)
	  {
  	 margin: 0 0 0 1.8em;
	  }
    li
	    {
		  display: inline;
		  padding-right: 3em;
      @media screen and (max-width: $screen-xs)
        {
        padding-right: 1em;
        }
		  a
		    {
		    font-family: $font-family-serif;
  	  	font-style: italic;
  	  	text-decoration: none;
  	  	color: $grayCharcoal;
  	  	padding: 0.5em 0.8em;
  	  	background-color: $whiteAntiflash;
  	  	border: 1px solid $whiteAntiflash;
  	  	border-radius: 4px;
  	  	}
      a:hover,
      a:focus
        {
        background-color: #2A2C39;
        border: 1px solid #2A2C39;
        color: white;
        text-decoration: none;
        }
		  }
	}

ul.posts
  {
	list-style: none;
  }

div.page-nav-top
  {
	margin-bottom: 2em;
  }

div.page-nav-bottom
  {
	margin-top: 2em;
  }

nav#contact
  {
  margin: 2em 0 3em 0;
    ul
      {
      list-style: none;
      text-align: center;  
        li
          {
          font-size: 1.5em;
          display: inline-block;
          margin: 0.5em;
          padding-right: 1em;
          }
          a:hover span.contact,
          a:focus span.contact
            {
            text-decoration: none;
            }
        li.github span.icon-github
          {
          font-size: 0.9em;
          }
        li.tweet span.icon-twitter-sign
          {
          font-size: 0.8em;
          }
        li.email span.icon-envelope
          {
          font-size: 0.75em;
          }
      }
  }


/*
----------------------------------
  Footer
  
  Possibly remove bootstrap pull-left/right and add responsive styling?

*/

footer
  {
  text-align: center; 
  }

ul.footer
  {
  padding-right: 2em;
    li
      {
      list-style: none;
      display: inline-block;
      margin: 0.5em;
      }
  }

li.footer-content, 
li.footer-content-name
  {
  font-family: $font-family-serif;
  }

li.footer-content
  {
  font-style: italic;
  }

li.footer-controls
  {
  margin-top: 1.5em;
  }


/*
----------------------------------
  Icons
  
*/

span.contact
  {
  font-size: 1.5;
  padding-right: 0.25em;
  }


/*
----------------------------------
  Images
  
*/

img.profile-pic
  {
  display:inline;
  float:right;
  margin: 0 0 2em 2em;
  }

img.img-post
  {
  margin: 2em 0;
  max-width: 100%;
  }


/*
----------------------------------
  Typography
  
*/

h1#site-title
  {
  a
    {
    color: $grayCharcoal;
    }
    a:hover,
    a:focus
      {
      text-decoration: none;
      }
    text-align: center;
	  a span
	    {
      display: block;
      }
    a span.the,
      {
      font-family: 'PT Sans';
      text-transform: uppercase;
      line-height: 1em;
      display: inline;
      padding-bottom: 1em;
      }
    a span.of
      {
      font-style: italic;
      padding-top: 0.5em;
      margin-left: -0.117em; /* 2px */
      }
    a span.oc
      {
      font-size: 1em;
      line-height: 1.4;
      }
    a span.jmg
      {
      padding-top: 0.5em;
      padding-left: 0.416em; /* 15px */
      }
  }
header.home h1#site-title
  {
    a span.oc
      {
      font-size: 1em; /* 36px */
      }
    a span
      {
      font-size: 1em;
      }
    a span.the
      {
      font-size: 0.388em; /* 14px */
      }
    a span.of
      {
      font-size: 0.472em; /* 17 px */
      }
  }
  
/*
  This reduces the size of the header and places it top left
  for pages and posts.
  
  See Navitation section above for equivalent nav handling.
  
*/
header.page
  {
  margin-bottom: 0;
  }
header.page h1#site-title
  {
  font-size: 1.5em;
  width: 10em;
  position: relative;
  top: -4.5em;
  margin-bottom: 0;
  @media screen and (max-width: $screen-xs)
    {
    top: 0;
    margin: 0 auto 1em auto;
    }
    a span.oc
      {
      font-size: 1em; /* 36px */
      }
    a span
      {
      font-size: 1em;
      }
    a span.the
      {
      font-size: 0.388em; /* 14px */
      }
    a span.of
      {
      font-size: 0.472em; /* 17 px */
      }
  }

h1, h2, h3, h4, h5, h6
  {
	margin-bottom: 1em;
	font-family: $font-family-serif;
  }

div#content
  {
  font-family: $font-family-serif;
	p, ul, ol, dl
	  {
		margin-bottom: 0.6em;
    }
	p + p
	  {
		text-indent: 1em;
    }
  dt
    {
    margin-bottom: 0.6em;
    }
  dd
    {
    margin: 0 1em 0 2em;
    }
	div.highlight
	  {
		margin: 1.6em 0;
    }
  }

kbd
  {
  padding: 1px 2px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  border-radius: 2px;
  }

span.post-date
  {
	display: block;
	margin-bottom: 2em;
  }

p.hero
  {
  font-size: 1.2em;
  line-height: 1.8em;
  padding-left: 4.5em;
  font-family: $font-family-serif;
  }

p.hero:first-line 
  {
  text-indent: -4em;
  }

p.hero:first-letter 
  {
  font-style: normal;
  font-size: 6em;
  line-height: 1em;
  font-weight: 400;
  float: left;
  margin: -0.08em 0.08em 0 -0.08em;
  font-family: $font-family-sans-serif;
  @media screen and (max-width: $screen-xs)
    {
    
    }
  }

div.recent-posts,
div.post-archive
  {
  ul.posts
    {
    margin: 0;
    padding: 0;
      li
        {
        a
          {
          padding-left: 0.5em;
          }
        span.date
          {
          display: inline-block;
          width: 8em;
          text-align: right;
          padding-right: 0.5em;
          }
        }   
    }
  }

dl
  {
  padding-bottom: 2em;
    dt 
      {
      padding-top: 1.5em;
      }
  }


/*
----------------------------------
  Additional media queries

*/

/*
----------------------------------  
  Post specific elements

*/

iframe.youtube 
  {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 2em 0;
  }

